




body {
  background-color: lightblue;
  margin: 50px;
}

.header {
  height: 500px; /* altura del header */
  background-image: url("4ray.png");
  background-size: cover;      /* evita que se estire */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat;
  
  background-color: #04AA6D;
  border: 3px solid white;
  border-radius: 55px;
  
   width: 100%;
   margin-bottom: 20px;
   margin-right: 20px;
   box-shadow: 10px 10px 10px gray;
}

.header:hover {
	box-shadow: 7px 7px 7px orange;
	border-radius: 55px;
	cursor: pointer;
}

header {
	transition : transform 0.2s
	ease;
}

header:active {
	transform: scale(0.9);
	}

nav {
  background-color: #04AA6D;
  border: 3px solid white;
  border-radius: 55px;
  
   width: 100%;
   margin-bottom: 20px;
   margin-right: 20px;
    box-shadow: 10px 10px 10px gray;
   
}

.titulo {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 10px;
  margin: 0;
 
}

.titulo li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  position: relative;
}

.titulo li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: green;
  transition: width 0.3s ease;
}

.titulo li a:hover::after {
  width: 100%;
  
}

a:hover {
  color: yellow;
   
}

.titulo li a {
  color: white;
  text-decoration: none;

  }



a {
	color: yellow;
}




body {
	margin: 20;
	padding: 0;
}

/* NAV */
.titulo {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 20px;
	margin-right: 20 px;
}

.titulo:hover {
	box-shadow: 7px 7px 7px orange;
	border-radius: 55px;
}


/* BLOCK 1 */
.bloque1 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	padding-top: 5px;
	padding: 5px;
}

/* IMAGE */
.raichu img {
	display: block;
	max-width: 100%;
	height: auto;
}

.raichu:hover {
	box-shadow: 10px 10px 10px orange;
	border-radius: 55px;
}

/* TEXT */
.p1 {
	    
		align-items: center;
	    justify-content: center;
		
	
}

/* BLOCK 2 */
.bloque2 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	padding: 20px;
}

/* SECOND IMAGE */
.gary img {
	display: block;
	max-width: 100%;
	height: auto;
}

.gary:hover {
	box-shadow: 10px 10px 10px orange;
	border-radius: 55px;
}

img {
	border-radius: 55px;
	border-color: green;
	border-width: 3px;
	 border-style: solid;
	 box-shadow: 10px 10px 10px gray;
}

.p {
	font-size: 40px;
}

.cubo1 {
	height:auto;
	width: 33%;
	background-color: white;
	
	border-radius: 55px;
	border-color: green;
	border-width: 3px;
	 border-style: solid;
	 box-shadow: 10px 10px 10px gray;
	padding: 20px;
	font-size: 40px;
	font-family: cursive;
	
	justify-content: center;
	align-items: flex-start;
	
}

.music {
  height: auto;
  width: 100%;
  max-width: 600px; /* 🔥 controla el tamaño */
  margin: 40px auto; /* más aire arriba/abajo */
  background-color: yellow;

  border-radius: 55px;
  border: 3px solid green;
  box-shadow: 10px 10px 10px gray;

  
  font-size: 40px;
  font-family: cursive;
  white-space:nowrap;
 
}

.music p {
  margin: 20px 0;
  text-align: center;
}

.music i {
  font-size: 18px; /* prueba entre 20px - 30px */
}


.p1 p {
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.raichu p {
    margin: 0;
}

.song {
	border-color: green;
}







.footer {
  height: 450px; /* altura del header */
  background-image: url("ray6.jpg");
  background-size: cover;      /* evita que se estire */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat;
  
  
  border: 6px solid white;
  border-radius: 55px;
  
   
   width: 100%;
   margin-bottom: 20px;
   margin-right: 20px;
   box-shadow: 10px 10px 10px 10px gray;
   padding: 0;
   
   justify-content: center;
   margin: 10px auto; 
}

.footer:hover {
	box-shadow: 6px 6px 6px 6px orange;
	border-radius: 55px;
}

#song-image {
  display: block;
  margin: 40px auto;
  height: 300px;
  width: 300px;
  border-radius: 55px;
}


.music {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3px;
}

#song-name {
  margin-top: 20px;
  font-size: clamp(20px, 6vw, 80px);
  text-align: center;
}

#music-buttons {
	
	
	justify-content: center;
	align-items: center;
	gap: 18px;
	width: 100%;
	margin-bottom: 100px;
}



#music-buttons {
	
	justify-content: center;
	align-items: center;
	gap: 25px;
}

/* Botón invisible */
.icon-btn {
	background: none;
	border: none;
	padding-top: 20px;
	cursor: pointer;
}

/* Iconos */
.icon-btn i {
	font-size: 60px;
	color: forestgreen;

	/* sombra individual */
	filter: drop-shadow(4px 4px 5px gray);

	transition: transform 0.2s ease, filter 0.2s ease;
}

/* Hover */
.icon-btn:hover i {
	transform: scale(1.2);
	filter: drop-shadow(4px 4px 5px orange);
}

.icon-btn:active i {
	transform: scale(0.9);
}



#slider-song {
   
   color: red;	
   width: 300px;
   height: 5px;
   cursor: pointer;
}

.slider-song {
	color:red;
	width: 300px;
	height: 5px;
}

.music-player-controls {
	display: flex;
	justify-content:center;
	align-items:center;
	flex-wrap: wrap;
	gap: 10px;
}

.ipod {
        align-items: center;
	    justify-content: center;
		flex: wrap;
	    margin: 3px;
}	
